@import "../../Style/global";

.Image {
    position: relative;
    overflow: hidden;

    img {
        width: 100%;
        display: block;
    }

    h1 {
        width: 100%;
        font-size : 72px;
        position: absolute;
        top : 0;
        left : 50%;
        top: 40%;
        color : #fff;
        transform: $transformCenter;
    }
}
